<div id="show_requirements_description_div_<%= @status %>">
  <%= link_to "Export", url_for(:controller => "resumes", :action => "export_as_xls_requirement_for_status", :requirement_id => @requirement.id, :status => @status), data: {turbolinks: false} %>
  <% if @render == "manager_index" %>
    <%= render "resumes/manager_index" %>
  <% else %>
    <%= render "resumes/interview_table" %>
  <% end %>
</div>
