<div id="req_update_div" class="common_class">
  <span> Updating Requirement </span>
  <%= render "requirement_form", :class_label => "requirement_update_label", :class_field => "requirement_update_field", :button_tag => "Update" %>
</div>
