<div id="req_create_div" class="common_class">
  <span> Adding Requirement </span>
  <%= render "requirement_form", :class_label => "requirement_create_label", :class_field => "requirement_create_field", :button_tag => "GO" %>
</div>
