<div id="login_action_div" class="common_class">
  <%= link_to "Groups",       :controller => "groups"       %> <br />
  <%= link_to "Requirements", :controller => "requirements" %> <br />
  <%= link_to "Portals",      :controller => "portals"      %> <br />
  <%= link_to "Agencies",     :controller => "agencies"     %> <br />
</div>
