<div id="login_action_div" class="common_class">
  <%= link_to "Groups",       :host => "apps.mirafra.com/recruit", :controller => "groups"       %> <br />
  <%= link_to "Requirements", :host => "apps.mirafra.com/recruit", :controller => "requirements" %> <br />
  <%= link_to "Portals",      :host => "apps.mirafra.com/recruit", :controller => "portals"      %> <br />
  <%= link_to "Agencies",     :host => "apps.mirafra.com/recruit", :controller => "agencies"     %> <br />
</div>
