<div class="table-container">
  <% content_for :hidden_fields do %>
    <%= hidden_field_tag "search[box]", :value => @search_text %>
  <% end %>
  
  <%= render 'search_results_table', title: 'Search Results' %>
</div>
