<div id="agency_new_div" class="common_class">
  <span> Adding Agency </span>
  <%= render "agency_form", :class_label => "agency_new_label", :class_field => "agency_new_field", :button_tag => "GO" %>
</div>
