<br /> <br />
<% form_for(@portal, :url =>  url_for(:host => "apps.mirafra.com/recruit", :controller => "portals", :action => (button_tag == "Update" ? "update" : "create"))) do |f| %>
  <%= f.error_messages %>
  <table id="portal_form_table">
    <tr>
      <td> Portal Name </td>
      <td> <%= f.text_field :name %> </td>
    </tr>
    <tr>
      <td class="portal_submit_button" colspan="2">
        <%= f.submit("#{button_tag}") %>
      </td>
    </tr>
  </table>
<% end %>
<br />
<%= link_to "List of portals", :host => "apps.mirafra.com/recruit", :controller => "portals", :style => "color: #0000FF;" %> </div>
<br /> <br />
