.interview-panel {
  background-color: #e3e4fa;
  padding: 25px;
}

.interview-panel__title {
  font-size: 20px;
}
.skill {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-interviewer {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.int-table {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(189, 181, 181);
}

.t-data {
  font-size: 15px;
  padding: 8px;
}
