.resume {
  display: flex;
  line-height: normal;
  padding: 20px;
  background-color: rgb(227, 228, 250);
}
.resume__info {
  flex: 3;
  padding-right: 20px;
}
.resume__edit {
  float: right;
}
.resume__actions {
  flex: 1;
  border-left: 1px solid #80808038;
  padding: 15px;
}
.resume__actions-goto {
  text-align: center;
  font-size: 15px;
}
.goto-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  font-size: 15px;
}
.actions {
    text-align: center;
    margin-top: 30px;
}
.action__field {
   width: 90%;
   padding: 10px 0;
   font-size: 16px;
}
.resume__name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.resume__status {
  font-size: 16px; 
  text-align: center;
  padding: 10px 0px;
}
.resume__communication {
  display: flex;
  text-align: center;
  font-size: 16px;
}
.resume__communication-1 {
  border-top: 3px solid grey;
  flex: 1;
  padding: 10px;
}
.resume__communication-2 {
  border-top: 3px solid grey;
  flex: 1;
  padding: 10px;
  border-left: 3px solid grey;
}
.resume__summary {
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}
.resume__summary-heading {
  font-weight: bold;
  padding-bottom: 5px;
}
.resume__summary-content  {
    font-style: italic;
}
.resume__other-info {
  padding: 10px 5px;
  font-size: 15px;
}
.resume__mail {
  text-align: center;
}
.item  {
    padding-bottom: 10px;
}

.item--center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item__label--center, .item__value--center {
    flex: 1;
}
.item__value  {
    font-weight: bold;
    padding-left: 12px;
}
.item__value--normal  {
    font-weight: normal;
}
.section {
  padding: 10px;
}
.section__title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid gray;
  padding: 10px 0px;
  margin-bottom: 10px;
}
.section__subtitle {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    color: #393535;
}
.comment {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  background-color: white;
  padding: 5px;
}
.comment__author {
  font-size: 16px;
  color: black;
}
.comment__date {
   font-size: 12px;
   color: #6c6868
}
.comment__body {
    padding-top: 10px;
}