body{
  font-size: 12px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#loading{
  position: absolute; 
  right: 0px; 
  top: 0px; 
  background-color: #dd0000; 
  font-weight:bold;
  color: white; 
  margin: 5px; 
  padding: 3px;
}

span > div#loading {
  position: fixed;
}

h1{
font-size: 16px;
}

#loader{
  height: 100%;
  position: absolute;
  z-index: 15;
  width: 100vw;
  margin: 0,auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  display: none;
}
#notification {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  background-color:rgb(245, 245, 220);
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  display: none;
  color:rgb(34, 34, 102);
  font-weight: bold;
}