<% if params[:action] == "show_quarterly_offered"
     month_year_str  = Date::ABBR_MONTHNAMES[@smonth] + ".." + Date::ABBR_MONTHNAMES[@emonth] + " " + @year.to_s
   end %>

<table id="offered_resumes_table" class="sortable modern-table">
  <thead>
    <tr>
      <th> Name </th>
      <th class="sorttable_alpha"> Requirement </th>
      <th> Offer date </th>
      <th> Experience </th>
    </tr>
  </thead>
  <tbody>
    <% @offered_comments.each do |c| %>
      <tr>
        <td class="table-cell-primary"> <%= get_resume_link_with_mouse_over_and_mouseout(c.resume) %> </td>
        <td class="table-cell-secondary"> <%= get_requirement_from_comment(c, "OFFERED") ? get_requirement_link_with_mouse_over_and_mouseout(get_requirement_from_comment(c, "OFFERED")) : "Not Available" %> </td>
        <td class="table-cell-secondary"> <%= print_date(c.created_at) %> </td>
        <td class="table-cell-secondary"> <%= get_current_experience_string(c.resume) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
