<div id="bogus_action_div" class="common_class">
  <span class="header_line"> <%= link_to "Unknown page has been requested. Click here to go to the home page.", :controller => "home", :action => "actions" %> </span>
</div>
