// Update the manage_interviews partial with the updated interviews list
jQuery('#ajax_request_tr').html('<%= j render "resumes/manage_interviews" %>');

// Display the flash notice using the existing alert function
<% if flash[:notice] %>
  // Update the alert box content
  var alertBox = document.getElementById('alert_box');
  if (alertBox) {
    alertBox.innerHTML = '<%= j flash[:notice] %>' + 
      '<div align="center" style="margin-top: 20px;">' +
      '<%= image_submit_tag("Ok.png", :onclick => "closeBox('alert_box'); return false;") %>' +
      '</div>';
    // Call the existing alert function to display it
    initAlertFunction();
  }
<% end %>

// Clear the flash notice
<% flash[:notice] = nil %>
