<div id="interview_calendar_div" class="half_common_class">
  <span class="span_with_13_with_padding_0"> Interviews Calendar </span> <br /> <br />
  <script>
    var path;
    if ( server_type == 0 )
    {
      path = "";
    }
    else
    {
      path = "/recruit";
    }
   
  jQuery(document).ready(function() {
      jQuery("#calendar").fullCalendar(
      {
        header:
        {
          left:   'prev,next today',
          center: 'title',
          right:  'month,agendaWeek,agendaDay'
        },

        defaultView: 'month',
        slotMinutes: 15,
        events:      path + "/resumes/get_interviews",
        timeFormat:  'h(:mm)t',
        eventClick: function(event)
        {
          redirectToResumeDetails(path, event);
        },
        eventMouseover: function(event)
        {
          showEventDetails(event);
        },
        eventMouseout: function(event, ui)
        {
          $jq('#desc_dialog').dialog('destroy');
        },
      });
    });
  </script>
  <div>
    <div id='calendar'>
    </div>
  </div>
  <div id="desc_dialog" style="display:none;">
    <div id="event_desc">  </div>
  </div>
</div>
