<% @matches = @interviews_late %>
<% @matches += @interviews_done %>
<% @matches += @under_process %>
<% @matches = sort_interviews_in_display_order(@matches) %>

<div id="interviews_div" class="table-container">
  
  <div class="table-header">
    <h2>Interviews (<%= @matches.size%>)</h2>
  </div>
  
  <form name="form" method="post">
    <div class="table-footer" style="justify-content: flex-end;">
      <div class="table-pagination">
        <%= link_to "Export Today's Interviews", {:controller => "resumes", :action => "export_interviews"}, :class => "action-link" %>
      </div>
    </div>
    
    <% if @matches.size > 0 %>
      <%= render "resumes/interview_table", :matches => @matches %>
    <% else %>
      <div class="table-empty">
        <div class="empty-icon">📋</div>
        <p>No interviews scheduled.</p>
      </div>
    <% end %>
  </form>
</div>
