<div id="upload_resume_index_div" class="common_class">
  <span class="span_with_13_with_padding_0"> Upload New Resume </span>
  <%= render "resume_form", :button_tag  => "Upload",
                            :display_var => 0 %>
</div>
